# Librerías

In [1]:
import requests #mandar un requerimiento a la API
import json #poder estructurar nuestros datos
import pandas as pd #para poder visualizar los datos en una estructura tabular

import warnings
warnings.filterwarnings("ignore")

# Lo que se vió en clases

In [2]:
#Solo obtuvimos los resultados de la carrera # 22 y lo hicimos de la siguiente forma:
url = 'http://ergast.com/api/f1/2022/22/results.json'
response = requests.get(url)
response.content
content = json.loads(response.content)
pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results'])


#Ahora queremos la obtencion de todas las carreras, y hacemos lo siguiente
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    
#vemos el ultimo registro
pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results'])

#pero lo que queremos es ver todos los registros, para ello hacemos lo siguiente:
#1) Hacemos un DataFrame
df_results_2022=pd.DataFrame()
#2) 
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    df_results_2022 =df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))
    
df_results_2022.head()
#Al correr el codigo van a salir warnings, para ello importamos antes lo siguiente:
#import warnings
#warnings.filterwarnings("ignore")

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

In [3]:
#Cuántos puntos obtuvo cada piloto en esa temporada.
#queremos sumar los puntos
print(df_results_2022.groupby(['position']).agg({'points':'sum'}))
#pero vemos que arroja cosas raras, ¿por qué?, para dar respuesta a ello vamos a ver que tipo es 'points'
print(type(df_results_2022.points.values[0]))
#entonces hay que convertir toda la columna a entero:
df_results_2022.points.astype(int)
#verificamos que en efecto sean enteros
print(type(df_results_2022.points.astype(int).values[0]))
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022.head(3)
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points', ascending =False)

                                                points
position
1         26252626262525252525252525262625252525252625
10                              1111111111111111111111
11                              0000000000000000000000
12                              0000000000000000000000
13                              0000000000000000000000
14                              0000000000000000000000
15                              0000000000000000000000
16                              0000000000000000000000
17                              0000000000000000000000
18                              0000000000000000000000
19                              0000000000000000000000
2         18191818181918191918191819181818181818181818
20                              0000000000000000000000
3         15151515151515151516151515151515151515151515
4         12121212121212121212121212121212121212131212
5         10101010101010101010101110101010101011101010
6                               8888889888888889888889
7                               6666666666666666666666
8                               4444444444444444444444
9                               2222222222222222222222
<class 'str'>
<class 'numpy.int32'>

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [4]:
#Vamos a extraer solamente el nombre del conductor 
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])
df_results_2022.head(3)

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."

In [5]:
df_results_2022.groupby(['Driver']).agg({'points': 'sum'}).sort_values(by = 'points', ascending =False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [6]:
#Puntos por constuctor
df_results_2022['Constructor'] = df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022.groupby(['Constructor']).agg({'points':'sum'}).sort_values(by = 'points', ascending=True)

              points
Constructor
williams           8
haas              33
alphatauri        35
alfa              53
aston_martin      55
mclaren          150
alpine           170
mercedes         495
ferrari          519
red_bull         724

# ANÁLISIS DE LA F1

# 1) Resultados de las carreras desde el 2010 hasta el 2023

In [7]:
races = {'season':[],
         'round':[],
        'raceName':[],
        'circuitId':[],
        'lat':[],
        'long':[],
        'country':[],
        'date':[],
        'url':[]}

#Vamos a traernos todas las carreras del año 2010 hasta el año 2022, para ello en el url las "{}" significa
# que vamos a extraer los resultados de una carrera específica con el año con el que indique el 'for'
for year in list(range(2010,2024)):
    url = 'http://ergast.com/api/f1/{}.json'
    #Va a obtener la información del link con el año que le indiquemos con '.formar(year)'
    response = requests.get(url.format(year)) 
    #Contenido del url en formato json
    content = json.loads(response.content)
    
    #content['MRData']['RaceTable']['Races'] es una lista, la cual contiene 19 diccionario, 
    #esto quiere decir que por cada año vamos a obtener los datos definidos en el diccionario 'races' 19 veces.
    
    for item in content['MRData']['RaceTable']['Races']:
        
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(float(item['Circuit']['Location']['lat']))
        races['long'].append(float(item['Circuit']['Location']['long']))
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])


dfraces=pd.DataFrame(races)
dfraces['date']= dfraces['date'].astype('datetime64[ns]')
pd.DataFrame(dfraces)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.03250,50.51060,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.84970,144.96800,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.73800,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.33890,121.22000,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57000,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
277,2023,19,United States Grand Prix,americas,30.13280,-97.64110,USA,2023-10-22,https://en.wikipedia.org/wiki/2023_United_Stat...
278,2023,20,Mexico City Grand Prix,rodriguez,19.40420,-99.09070,Mexico,2023-10-29,https://en.wikipedia.org/wiki/2023_Mexico_City...
279,2023,21,São Paulo Grand Prix,interlagos,-23.70360,-46.69970,Brazil,2023-11-05,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...
280,2023,22,Las Vegas Grand Prix,vegas,36.11470,-115.17300,United States,2023-11-19,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...
281,2023,23,Abu Dhabi Grand Prix,yas_marina,24.46720,54.60310,UAE,2023-11-26,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...

In [8]:
pd.DataFrame(dfraces).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season     282 non-null    int64
 1   round      282 non-null    int64
 2   raceName   282 non-null    object
 3   circuitId  282 non-null    object
 4   lat        282 non-null    float64
 5   long       282 non-null    float64
 6   country    282 non-null    object
 7   date       282 non-null    datetime64[ns]
 8   url        282 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 20.0+ KB

In [9]:
pd.DataFrame(dfraces).to_csv('races.csv', index=False)

# 2) Seasons

Las temporadas actualmente admitidad por la API solo van del año 1950 hasta 1979.

In [10]:
url = 'http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content = json.loads(response.content)
content['MRData']['SeasonTable']['Seasons']

season = { 'season':[], 
           'url':[]
         }

for item in content['MRData']['SeasonTable']['Seasons']:
    season['season'].append(int(item['season']))
    season['url'].append(item['url'])
    
pd.DataFrame(season)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [11]:
pd.DataFrame(season).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   season  30 non-null     int64
 1   url     30 non-null     object
dtypes: int64(1), object(1)
memory usage: 608.0+ bytes

In [12]:
pd.DataFrame(season).to_csv('season.csv', index=False)

# 3) Drivers desde el 2010 hasta el 2023

In [13]:
drivers = {'season':[],
           'driverId':[],
           'code':[],
           'givenName':[],
           'familyName':[],
           'dateOfBirth':[],
           'nationality':[],
           'url':[],
          }

for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/drivers.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content);content

    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['season'].append(int(year))
        drivers['driverId'].append(item['driverId'])
        drivers['code'].append(item['code'])
        drivers['url'].append(item['url'])
        drivers['givenName'].append(item['givenName'])
        drivers['familyName'].append(item['familyName'])
        drivers['dateOfBirth'].append(item['dateOfBirth'])
        drivers['nationality'].append(item['nationality'])

        
dfdrivers=pd.DataFrame(drivers)
dfdrivers['dateOfBirth']= dfdrivers['dateOfBirth'].astype('datetime64[ns]')
pd.DataFrame(dfdrivers)

,season,driverId,code,givenName,familyName,dateOfBirth,nationality,url
0,2010,alguersuari,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,2010,alonso,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,2010,barrichello,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,2010,buemi,BUE,Sébastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,2010,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...,...,...
299,2022,stroll,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
300,2022,tsunoda,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
301,2022,max_verstappen,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
302,2022,vettel,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
303,2022,zhou,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [14]:
 pd.DataFrame(dfdrivers).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       304 non-null    int64
 1   driverId     304 non-null    object
 2   code         304 non-null    object
 3   givenName    304 non-null    object
 4   familyName   304 non-null    object
 5   dateOfBirth  304 non-null    datetime64[ns]
 6   nationality  304 non-null    object
 7   url          304 non-null    object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 19.1+ KB

In [15]:
pd.DataFrame(dfdrivers).to_csv('drivers.csv', index=False)

# 4) Constructors desde el 2010 hasta el 2023

In [16]:
constructors = {'season':[],
           'constructorId':[],
           'name':[],
           'nationality':[],
           'url':[]
          }

for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/constructors.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['season'].append(int(year))
        constructors['constructorId'].append(item['constructorId'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])
        constructors['url'].append(item['url'])
    
pd.DataFrame(constructors)

,season,constructorId,name,nationality,url
0,2010,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...
134,2022,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,2022,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,2022,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,2022,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,2022,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [17]:
pd.DataFrame(constructors).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         139 non-null    int64
 1   constructorId  139 non-null    object
 2   name           139 non-null    object
 3   nationality    139 non-null    object
 4   url            139 non-null    object
dtypes: int64(1), object(4)
memory usage: 5.6+ KB

In [18]:
pd.DataFrame(constructors).to_csv('constructors.csv', index=False)

# 5) Circuits desde el 2010 hasta el 2023

In [19]:
circuit = {'season':[],
           'circuitId':[],
           'circuitName':[],
           'lat':[],
           'long':[],
           'locality':[],
           'country':[],
           'url':[]
          }

for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/circuits.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['CircuitTable']['Circuits']:
        circuit['season'].append(int(year))
        circuit['circuitId'].append(item['circuitId'])
        circuit['circuitName'].append(item['circuitName'])
        circuit['lat'].append(float(item['Location']['lat']))
        circuit['long'].append(float(item['Location']['long']))
        circuit['locality'].append(item['Location']['locality'])
        circuit['country'].append(item['Location']['country'])
        circuit['url'].append(item['url'])
    
pd.DataFrame(circuit)

,season,circuitId,circuitName,lat,long,locality,country,url
0,2010,albert_park,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,bahrain,Bahrain International Circuit,26.0325,50.51060,Sakhir,Bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,catalunya,Circuit de Barcelona-Catalunya,41.5700,2.26111,Montmeló,Spain,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...,...
250,2022,spa,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,2022,suzuka,Suzuka Circuit,34.8431,136.54100,Suzuka,Japan,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,2022,villeneuve,Circuit Gilles Villeneuve,45.5000,-73.52280,Montreal,Canada,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,2022,yas_marina,Yas Marina Circuit,24.4672,54.60310,Abu Dhabi,UAE,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,2022,zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [20]:
pd.DataFrame(circuit).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       255 non-null    int64
 1   circuitId    255 non-null    object
 2   circuitName  255 non-null    object
 3   lat          255 non-null    float64
 4   long         255 non-null    float64
 5   locality     255 non-null    object
 6   country      255 non-null    object
 7   url          255 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 16.1+ KB

In [21]:
pd.DataFrame(circuit).to_csv('circuit.csv', index=False)

# 6) Qualifying

In [22]:
qualifying = {'season':[],
              'number':[],
              'position':[],
              'driverId':[],
              'constructorId':[],
              'Q1':[],
              'Q2':[],
              'Q3':[]
          }

for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/qualifying.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        qualifying['season'].append(year)
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        try:
            qualifying['Q1'].append(item['Q1'])
        except:
            qualifying['Q1'].append(None) 
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None) 

    for item in content['MRData']['RaceTable']['Races'][1]['QualifyingResults']:
        qualifying['season'].append(year)
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        try:
            qualifying['Q1'].append(item['Q1'])
        except:
            qualifying['Q1'].append(None) 
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)       
pd.DataFrame(qualifying)

,season,number,position,driverId,constructorId,Q1,Q2,Q3
0,2010,5,1,vettel,red_bull,1:55.029,1:53.883,1:54.101
1,2010,7,2,massa,ferrari,1:55.313,1:54.331,1:54.242
2,2010,8,3,alonso,ferrari,1:54.612,1:54.172,1:54.608
3,2010,2,4,hamilton,mclaren,1:55.341,1:54.707,1:55.217
4,2010,4,5,rosberg,mercedes,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...
385,2022,63,6,russell,mercedes,1:29.680,1:29.618,1:29.104
386,2022,14,7,alonso,alpine,1:29.978,1:29.295,1:29.147
387,2022,77,8,bottas,alfa,1:29.683,1:29.404,1:29.183
388,2022,10,9,gasly,alphatauri,1:29.891,1:29.418,1:29.254
389,2022,20,10,kevin_magnussen,haas,1:29.831,1:29.546,1:29.588

In [23]:
pd.DataFrame(qualifying).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         390 non-null    int64
 1   number         390 non-null    int64
 2   position       390 non-null    int64
 3   driverId       390 non-null    object
 4   constructorId  390 non-null    object
 5   Q1             390 non-null    object
 6   Q2             315 non-null    object
 7   Q3             236 non-null    object
dtypes: int64(3), object(5)
memory usage: 24.5+ KB

In [24]:
pd.DataFrame(qualifying).to_csv('qualifying.csv', index=False)